body
/*Top navigation menu */
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav
{
  overflow: hidden;
  background-color: #333;
}

.topnav
a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav
a:hover
{
  background-color: #ddd;
  color: black;
}

.topnav
a.active
{
  background-color: turquoise;
  color: white;
}

body
/* Background Color*/
{
	background-color: turquoise;
}

.container
{
	position: relative;
	text-align: center;
	color: white;
}

.centered
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


/* Home page pictures */

*
{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

p
{
	text-align: center;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev
{
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays
{
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays
li
{
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.tab_text_color
{
  color: blue;
}

html, body
{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;

  padding: 20px;
}

.container p
{
  position: relative;
  padding: 20px 20px 20px 65px;
  background: blue;
  border-radius: 10px;
  margin-bottom: 35px;
  color: white;
}

/* Speach bouble Quote */
.container p:before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;

  /*Positioning*/
  position: absolute;
  left: 20px;
  top: 5px;
}

/* Speech bouble triangle */
.container p:after{
  content: ' ';
  border: 10px solid;
  border-color: blue transparent transparent blue;
  position: absolute;
  bottom: -20px;
  left: 30px;
}

.wrapper{
  margin-bottom: 50px;
}
.wrapper img{
  float: left;
  border-radius: 20px;
  margin-right: 20px;
}
.wrapper h3{
  padding: 15px 0 0 0;
  color: blue;
}
.wrapper small{
  display: block;
  color: #999;
  margin-top: -10px;
}
.wrapper ul{
  list-style: none;
}
.wrapper ul li{
  display: inline;
  font-size: 1.3em;
}
.wrapper ul li:nth-child(-n+4){
  color: blue;
}

main
.flex-container
{
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div
{
  background-color: turquoise;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.links a
{
  font-size: 50px;
}
